@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bg{
  background-image: url('../public/images/toptexture.svg');
}

.blury-bg{
  background-color: #eff2ff;
  filter: blur(100px);
}

.cutom-btn-gradient{
  background: linear-gradient(90deg, #5A78FF 0%, #072AC8 100%);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575; 
  border-radius: 10px;
}